{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "node": true
    },
    "globals": {
        "appDir": "readonly",
        "buildDir": "readonly",
        "crotchetApp": "readonly",
        "isDev": true
    }
}