@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--stroke-color: 226 232 240;
	--canvas-color: 240 240 240;
	--card-color: 255 255 255;
	--content-color: 0 0 0;
	--primary-color: 102 51 153;
	--primary-light-color: 246 173 85;
}

.max-lines {
	--max-lines: 2;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: var(--max-lines); /* number of lines to show */
	line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
}

@media (prefers-color-scheme: dark) {
	:root {
		--stroke-color: 53 53 53;
		--canvas-color: 24 24 24;
		--card-color: 37 37 37;
		--content-color: 255 255 255;

		--primary-color: 176 112 241;
		--primary-light-color: 246 173 85;
	}

	input[type="date"] {
		color-scheme: dark;
	}
}

* {
	border-color: rgb(var(--stroke-color));
	min-width: 0;
}

#appBar {
	background: var(--gradient-bg);
	color: var(--gradient-bg-text);
}

#fab {
	background: var(--gradient-bg-text);
}

#fab path {
	stroke: url(#gradientMask);
}

@supports (background-clip: text) {
	#fab span {
		background: var(--gradient-bg);
		background-clip: text;
		--webkit-background-clip: text;
		color: transparent;
	}
}

@media (prefers-color-scheme: dark) {
	#appBar {
		background: rgb(var(--card-color));
		color: rgb(var(--content-color));
	}

	#fab {
		background: var(--gradient-bg);
		color: var(--gradient-bg-text);
	}

	#fab path {
		stroke: currentColor;
	}

	@supports (background-clip: text) {
		#fab span {
			background: var(--gradient-bg-text);
			background-clip: text;
			--webkit-background-clip: text;
		}
	}
}

[data-reach-combobox-option][data-selected],
[data-reach-combobox-option][data-highlighted],
[data-reach-combobox-option]:hover,
.data-reach-combobox-selected {
	position: relative;
}

[data-reach-combobox-option][data-selected]:before,
[data-reach-combobox-option][data-highlighted]:before,
[data-reach-combobox-option]:hover:before,
.data-reach-combobox-selected:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: currentColor;
	opacity: 0.08;
}

.window-drag-handle {
	-webkit-app-region: drag;
}

.window-no-drag {
	-webkit-app-region: none;
}
